*{
  font-family: 'Fondamento', cursive;
}

/* text animation */

.ml10 {
  position: relative;
  font-weight: 500 !important;
  font-size: 2vw;
  margin-bottom:0px;
  padding-top: 42px;
    padding-left: 10px;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: -166px !important;
}
.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
@media only screen and (max-width: 395px){
  .ml10 .letter {
 font-size:10px !important;
 line-height: 2em;
 word-wrap: break-word;
  }
}

/* text animation end */

/* plz like and sub line */
.section-heading .section__divider2:after {
  background-color: #fff;
}
@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@-webkit-keyframes MOVE-BG {
  from {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -ms-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@-webkit-keyframes MOVE-BG2 {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
  }
}
@-webkit-keyframes MOVE-BG2 {
  from {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -ms-transform: translateX(48px);
    transform: translateX(48px);
  }
}
@keyframes MOVE-BG2 {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
  }
}

.section-heading {
  position: relative;
  /* z-index: 99999; */
}
.section-heading .section__meta {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  background-color: #192836;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 0.6px;
  margin-bottom: 5px;
  font-weight: 400;
}
@media only screen and (max-width:474px){
  .section-heading .section__meta{
    font-size: 8px;
  }
}
@media only screen and (max-width:474px){
  .section-heading .section__title{
    font-size: 15px !important;
  }
}
.section-heading .section__title {
  font-size: 35px;
  font-weight: 500;
}
@media only screen and (max-width:778px){
  .section-heading .section__title{
  font-size: 25px;
  font-weight: 500;
}
}
.section-heading .section__divider {
  display: inline-block;
  position: relative;
  height: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #f3728b;
  width: 90px;
  margin-top: 0px;
  margin-bottom: 18px;
  overflow: hidden;
}
.section-heading .section__divider:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1.1px;
  height: 7px;
  width: 8px;
  background-color: #fff;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}
/* end */

/* u tube link */
.theme-btn {
  font-size: 15px;
  text-transform: uppercase;
  background-color: #f3728b;
  color: white;
  font-weight: 500;
  letter-spacing: 0.1px;
  padding: 0 30px 0 30px;
  line-height: 55px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  /* z-index: 1; */
  display: inline-block;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border: 0;
  overflow: hidden;
}
.text-white {
  color: #fff !important;
}

.theme-btn:after {
  position: absolute;
  left: -12px;
  top: 0;
  height: 100%;
  width: 56%;
  content: "";
  background-color: #fff;
  opacity: 0.1;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.tags a,
a:link,
a:visited {
  outline: 0;
  color: #4078c0;
  text-decoration: none;
}
.theme-btn:hover:after {
  width: 100%;
  left: 0;
  -webkit-transform: skewX(0);
  -moz-transform: skewX(0);
  -ms-transform: skewX(0);
  -o-transform: skewX(0);
  transform: skewX(0);
  opacity: 0.2;
}
/* end */

/* footer svg*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
  --col-deepblue: #eaea03;
}
a {
  color:#fff;
  text-decoration:none;
}
footer {
  width:100vw;
  position:fixed;
  bottom:0px
}
footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}


/* footer */

.social_nav:hover {
  background-color: #f3728b;
  color: white;
}
.social_nav {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(158, 166, 186, 0.1);
  margin: 3px;
}

/* .footer01 {
  background: #222;
  background-image: url(img/map.png) !important;
} */

.footer-area {
  position: relative;
  padding-bottom: 0px;
  padding-top: 60px;
  z-index: 1;
  overflow: hidden;
}
#scroll-top {
  position: fixed;
  right: 0;
  bottom: 50px;
  background-color: #fff;
  color: #7f8897;
  font-size: 24px;
  z-index: 9999;
  width: 50px;
  height: 45px;
  line-height: 43px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 40px rgba(14, 16, 48, 0.06);
  -moz-box-shadow: 0 10px 40px rgba(14, 16, 48, 0.06);
  box-shadow: 0 10px 40px rgba(14, 16, 48, 0.06);
  border: 1px solid rgba(127, 136, 151, 0.3);
  border-right: 0;
  padding-left: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-area .footer-widget .footer-title {
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-area .footer-widget .footer-link li {
  margin-bottom: 12px;
}
.footer-area .footer-widget .footer-link li a:after {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: #9ea6ba;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .footer-widget .footer-link li a {
  position: relative;
  padding-left: 15px;
}
.footer-area .footer-widget a {
  color: #9ea6ba;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .footer-widget .footer-link li {
  margin-bottom: 12px;
}
.footer-area .footer-widget .footer-address {
  margin-top: 38px;
  line-height: 30px;
  font-weight: 500;
}
.footer-area .footer-widget .footer-address li {
  display: block;
  color: #9ea6ba;
  line-height: 24px;
  margin-bottom: 7px;
}
.footer-area .footer-widget a {
  color: #9ea6ba;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .footer-widget .footer-social {
  margin-top: 1px;
}
.footer-area .footer-widget .footer-social li {
  display: inline-block;
  margin-right: 2px;
}
.footer-area .footer-widget .footer-social li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(158, 166, 186, 0.1);
}
.footer-area .footer-widget a {
  color: #9ea6ba;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .footer-widget .footer-social li {
  display: inline-block;
  margin-right: 2px;
}
.footer-area .footer-widget .footer__logo {
  width: 150px;
}
.footer-area .copyright-content {
  margin-top: 90px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.footer-area .copyright-content .copy__desc {
  color: #9ea6ba;
}
.footer-area .copyright-content .copy__desc a {
  color: #9ea6ba;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .copyright-content .language-select {
  text-align: right;
  position: relative;
}
.footer-area .copyright-content .language-select:before {
  content: "\f113";
  right: 13px;
}
.footer-area .copyright-content .language-select:before,
.footer-area .copyright-content .language-select:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "LineAwesome";
  font-size: 15px;
  color: #9ea6ba;
  pointer-events: none;
  display: inline-block;
}
.footer-area .copyright-content .language-select .target-lang {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0 10px 35px;
  font-size: 16px;
  color: #9ea6ba;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  outline: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
}

.footer-area .footer-widget .footer-link li a:hover:after {
  width: 10px;
  background-color: #f3728b;
}

.footer-area .footer-widget .footer-link li a:after {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: #9ea6ba;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-area .footer-widget .footer-link li a {
  position: relative;
  padding-left: 15px;
}
.footer-area .footer-widget ul li :hover {
  color: #f3728b;
}

a:hover,
a:focus {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.footer-area .footer-widget .section__divider {
  display: inline-block;
  position: relative;
  height: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #9ea6ba;
  width: 50px;
  margin-bottom: 12px;
  overflow: hidden;
}
.footer-area .footer-widget .section__divider:after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.1px;
  height: 5px;
  width: 5px;
  background-color: #fff;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG2;
  animation-name: MOVE-BG2;
}
.section-heading .section__divider2:after {
  background-color: #fff;
}
@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@-webkit-keyframes MOVE-BG {
  from {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -ms-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}
@-webkit-keyframes MOVE-BG2 {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
  }
}
@-webkit-keyframes MOVE-BG2 {
  from {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -ms-transform: translateX(48px);
    transform: translateX(48px);
  }
}
@keyframes MOVE-BG2 {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
  }
}

.footer-area .copyright-content {
  margin-top: 90px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
/* ataz text */
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}


                              

.textaz {
  color: #fffbf1 !important;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 0;
  position: absolute;
  top: 50%;
  /* left: 32%; */
  transform: translateX(-50%) translateY(-50%);
}

.textaz:before,
.textaz:after {
  content: "";
  padding: 1.9em 6.4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 40%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.textaz:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.textaz:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

@media only screen and (max-width: 562px){
  .textaz{
    margin-top:150px;
  }
}
@media only screen and (max-width: 562px){
  .footer-title{
    margin-top:300px;
  }
}
/* socila media */
#social-sidebar {
	left: 0;
	position: fixed;
  top: 30%;
  z-index: 9999;

}
#social-sidebar li:first-child a { border-top-right-radius: 5px; }
#social-sidebar li:last-child a { border-bottom-right-radius: 5px; }
 
#social-sidebar a {
	background: rgba(0, 0, 0, .7);
	color: #fff;
    text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
    cursor: pointer;
}
#social-sidebar a:hover span {
	left: 120%;
	opacity: 1;
}
#social-sidebar a span {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	transition: opacity .3s, left .4s;
	top: 50%;
	z-index: -1;
}
 
#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
  width: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
}
 
#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {background: #00aced;}
 
#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {background: #3B5998;}
 
#social-sidebar a[class*="gplus"]:hover,
#social-sidebar a[class*="gplus"] span,
#social-sidebar a[class*="gplus"] span:before {background: #E34429;}
 
#social-sidebar a[class*="dribbble"]:hover,
#social-sidebar a[class*="dribbble"] span,
#social-sidebar a[class*="dribbble"] span:before {background: #ea4c89;}
 
#social-sidebar a[class*="dropbox"]:hover,
#social-sidebar a[class*="dropbox"] span,
#social-sidebar a[class*="dropbox"] span:before {background: #8DC5F2;}
 
#social-sidebar a[class*="github"]:hover,
#social-sidebar a[class*="github"] span,
#social-sidebar a[class*="github"] span:before {background: #9C7A5B;}
 
#social-sidebar a[class*="evernote"]:hover,
#social-sidebar a[class*="evernote"] span,
#social-sidebar a[class*="evernote"] span:before {background: #6BB130;}

/* footer text */
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* anout me */

.icon {
  background: url(img/ataz.jpg) 0 0 no-repeat;
  width: 76px;
  height: 76px;
  top: -197px;
  margin: 0 auto;
  position: relative;
}
  .icon:hover{
    animation: rotatecircle 4s infinite linear;
    animation: rotatecircle 4s linear;
  }
  .outerCircle1{
    background-color: transparent;
    border: 8px solid rgba(97, 82, 72, 0.9);
    opacity: .9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100px;
    width: 124px;
    height: 124px;
    margin: 0 auto;
    animation: spinPulse 3s infinite ease-in-out;
    animation: spinPulse 3s infinite ease-in-out;
}
  .innerCircle1 {
    background-color: transparent;
    border: 5px solid rgba(189, 215, 60, 0.6);
    opacity: .9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 100px;
    top: -111px;
    width: 100px;
    height: 97px;
    margin: 0 auto;
    position: relative;
    animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
}
  @keyframes spinPulse {
      0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
  }
  @keyframes spinoffPulse {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
  }
  @keyframes spinPulse {
      0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
  }
  @keyframes spinoffPulse {
      0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
  }
  @keyframes rotatecircle {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
  }
  
  @keyframes rotatecircle {
      0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
  }
  p.pks01.py-auto {
    font-size: 15px;
    
}
@media only screen and(max-width:449px){
  .float001{
     float:left;
  }
} 

/* section 3 */

.flat-register-now {
  position: relative;
  padding: 30px 0 130px;
}
.style-font01{
  font-style:10px;
  color:black;
  font-size:bold;
}
